## Q1 output

In [1]:
def star(num1,num2):
    for i in range(num1):
        for j in range(num2):
            if (i+j)%2==0:
                print("*", end="")
            else:
                print(" ", end="")
        print("")

In [2]:
star(5,7)

* * * *
 * * *
* * * *
 * * *
* * * *

In [3]:
star(7,11)

* * * * * *
 * * * * *
* * * * * *
 * * * * *
* * * * * *
 * * * * *
* * * * * *

## Q2 output

In [4]:
def pattern(start,total):
    if (total<=start) or not (1<=start<=9) or not (1<=total<=9):
        print("***REMINDER: Please make sure the two arguments are between 1 and 9, and that the 2nd argument is greater than the 1st one.***")
        return
    for i in range(start):
        print(str(start-i)*(start-i), str(total-start+i)*(total-start+i))

In [5]:
pattern(6,1)

***REMINDER: Please make sure the two arguments are between 1 and 9, and that the 2nd argument is greater than the 1st one.***

In [6]:
pattern(0,7)

***REMINDER: Please make sure the two arguments are between 1 and 9, and that the 2nd argument is greater than the 1st one.***

In [7]:
pattern(5,12)

***REMINDER: Please make sure the two arguments are between 1 and 9, and that the 2nd argument is greater than the 1st one.***

In [8]:
pattern(1,3)

1 22

In [9]:
pattern(5,8)

55555 333
4444 4444
333 55555
22 666666
1 7777777

In [10]:
pattern(8,9)

88888888 1
7777777 22
666666 333
55555 4444
4444 55555
333 666666
22 7777777
1 88888888

## Q3 output

In [11]:
def minnmax():
    numlist=[]
    while True:
        num=input("Enter an integer number or done: ")
        if num=="done":
            if not numlist:
                print("***No number received, bye***")
            else:
                numlist.sort()
                print(f"\nThe smallest number you entered is: {numlist[0]}\nThe biggest number you entered is: {numlist[-1]}")
            break
        try:
            numlist.append(int(num))
        except:
            print("***REMINDER: please enter an integer number or done***")

In [12]:
minnmax()

Enter an integer number or done: 5
Enter an integer number or done: -2
Enter an integer number or done: hku
***REMINDER: please enter an integer number or done***
Enter an integer number or done: 3.6
***REMINDER: please enter an integer number or done***
Enter an integer number or done: 11
Enter an integer number or done: 5.8
***REMINDER: please enter an integer number or done***
Enter an integer number or done: -9
Enter an integer number or done: 0
Enter an integer number or done: 8
Enter an integer number or done: done

The smallest number you entered is: -9
The biggest number you entered is: 11

In [13]:
minnmax()

Enter an integer number or done: done
***No number received, bye***

## Q4 output

In [36]:
def discount(LaName, OriPrice):
    price=OriPrice
    if LaName[0].lower()=="d":
        price-=10
    if len(LaName)>1:
        if (LaName[1].lower()=="i") and (OriPrice>=1000):
            price-=100
    if len(LaName)>2:
        if LaName[2].lower()=="r":
            if OriPrice>=5000:
                price-=500
            elif 500<=OriPrice<5000:
                price-=300
                
    return price

In [37]:
discount('Wong', 10000)

10000

In [38]:
discount('d', 15)

5

In [39]:
discount('Li', 4560)

4460

In [40]:
discount('Ding', 6000)

5890

In [41]:
discount('DIREN', 5800)

5190

## Q5 output

In [25]:
def DistSub(text,k):
    if k>len(text):
        print("There is no such substring.") 
        return
    temp=set()
    for i in range(len(text)-k+1):
        temp.add(text.upper()[i:i+k])
    if k==len(text):
        print(f"There is only one distinct substring in {text}, which is itself.")
    else:
        print(f"There are {len(temp)} distinct substrings in {text.upper()}. They are:")
        for i in sorted(temp):
            print(i, end="   ")

In [26]:
DistSub('ABCAB',8)

There is no such substring.

In [27]:
DistSub('ACBAB',5)

There is only one distinct substring in ACBAB, which is itself.

In [28]:
DistSub('ABCAB',3)

There are 3 distinct substrings in ABCAB. They are:
ABC   BCA   CAB

In [29]:
DistSub('ABCAB',2)

There are 3 distinct substrings in ABCAB. They are:
AB   BC   CA

In [30]:
DistSub('ABCab',2)

There are 3 distinct substrings in ABCAB. They are:
AB   BC   CA

## Q6 output

In [31]:
def isbn_check(isbn):
    x=[*isbn.replace("-", "")]
    if x[-1]=="X":
        x[-1]=10
    y=0
    for i in range(10):
        y+=int(x[i])*(10-i)
    if y%11==0:
        print("True")
    else: print("False")

In [32]:
isbn_check('3-598-21507-X')

True

In [33]:
isbn_check('3-598-41508-8')

False

## Q7 output

In [34]:
def rotate_letter(letter, rotation):
    try:
        if letter.isupper():
            start_code = ord('A')
        elif letter.islower():
            start_code = ord('a')
        new_position = (ord(letter) - start_code + rotation) % 26
        rotated_letter = chr(start_code + new_position)
    
        return rotated_letter
    except:
        print("***REMINDER: Your input is not valid.***")

In [35]:
rotate_letter('t',3)

'w'

In [42]:
rotate_letter('Y',5)

'D'

In [43]:
rotate_letter('k',20.1)

***REMINDER: Your input is not valid.***

In [44]:
rotate_letter('abc',19)

***REMINDER: Your input is not valid.***

In [45]:
rotate_letter('D',-4)

'Z'

In [46]:
rotate_letter('?',8)

***REMINDER: Your input is not valid.***

In [47]:
rotate_letter(7,109)

***REMINDER: Your input is not valid.***

In [48]:
rotate_letter(20,'k')

***REMINDER: Your input is not valid.***